.header {
  display: flex;
  justify-content: space-between;
  margin: 32px;
   border: 3px solid black;
  background: #000;
  color:white;
}
.header > img{
padding-left: 10px;
}

.nav-item > ul{
  list-style-type: none;
  display: flex;
} 

  .nav-item>ul>a>li  {
  padding: 35px;
}


.logo{
  width: 115px;
}
#Title{
  align-items: center;
}

.card{
  border:solid #eee7e7;
  width:200px;
  margin:10px;
  padding:10px;
}
.card1{
  border:solid #eee7e7;
  width:250px;
  margin-left:90px;
  padding:10px;
}
.card >img{
  border:solid #332f2f; 
  width:100%;
}
.card1 >img{
  border:solid #332f2f; 
  width:100%;
}
.book-list {
  display: flex;
  flex-wrap: wrap;
}

.id2{
  margin-left: 666px;
}
.price{
  font-size: 16px;
  padding: 10px 15px;
  text-align: center;
  margin-left: 136px;
  display: inline-block;

}
.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 136px;
  background-color: #f44336;
}

.buttonclear{
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 136px;
  background-color: #f44336;

}
.comments{
  margin-left: 136px; 

}

.input{
  width:550px;
  height:30px;
  border-radius: 12px;
  padding-top: 5px;
}
.add{
  background-color: #f44336;

  border-radius: 12px;
  height:40px;
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
